html {
    scroll-behavior: smooth !important;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #BECFDE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #44A2B2;
    transition: .5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #065461;
}

* {
    scroll-behavior: smooth !important;
    font-family: 'Roboto', sans-serif;
}

.dx-header-filter-empty {
    color: rgba(149, 149, 149, .5) !important;
}

.dx-datagrid .dx-header-filter {
    color: #118B9F;
}

.required-field .v-label::before {
    content: "*\00a0";
    color: red;
}

.err-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.glassmorph {
    background: rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(30px) !important;
    -webkit-backdrop-filter: blur(30px) !important;
}

.glassmorph-8 {
    background: rgba(255, 255, 255, 0.7) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(30px) !important;
    -webkit-backdrop-filter: blur(30px) !important;
}

.v-label--disabled,
.v-field-label--disabled,
.v-field__input--disabled,
.v-autocomplete__selection-text--disabled,
.v-autocomplete__selection--disabled,
.v-field--disabled {
    opacity: 0.6 !important;
}

input,
select,
textarea {
    font-size: 14px;
}

input[type='date']::-webkit-inner-spin-button,
input[type='datetime-local']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='datetime-local']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.v-label,
.v-field-label,
.v-field__input,
.v-autocomplete__selection-text,
.v-autocomplete__selection,
.v-autocomplete__selection--comma {
    font-size: 14px !important;
}

.v-text-field input.v-field__input {
    min-height: 44px !important;
}

.v-field--error {
    border-color: blue !important;

}

.field,
.v-input {
    min-height: 44px !important;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 8px;
    margin: 8px 0;
}

.prepend-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: #ccc;
}

.append-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    color: #ccc;
}